@model PreSemester_Project.Models.Opportunity

@{
    ViewData["Title"] = "Create Opportunity";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Pages.css" asp-append-version="true" />
</head>

<div class="header">
    <img src="~/Images/BitworksLogo.png" id="header-img" />
    <h2>Opportunity Management System</h2>
</div>
<div style="padding-top: 10%">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateOpportunity">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="oppName" class="control-label"></label>
                    <input asp-for="oppName" class="form-control" />
                    <span asp-validation-for="oppName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="oppCenter" class="control-label"></label>
                    <select asp-for="oppCenter" class="form-control">
                        <option value="Jacksonville Location">Jacksonville Location</option>
                        <option value="Miami Location">Miami Location</option>
                        <option value="St. Petersburg Location">St. Petersburg Location</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="address" class="control-label"></label>
                    <input asp-for="address" class="form-control" />
                    <span asp-validation-for="address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TimeOfEvent" class="control-label"></label>
                    <input asp-for="TimeOfEvent" class="form-control" />
                    <span asp-validation-for="TimeOfEvent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label"></label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="ManageOpportunities">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
