@model PreSemester_Project.Models.Opportunity

@{
    ViewData["Title"] = "EditOpportunity";
}

<h1>EditOpportunity</h1>

<h4>Opportunity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOpportunity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="oppID" class="control-label"></label>
                <input asp-for="oppID" class="form-control" />
                <span asp-validation-for="oppID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oppName" class="control-label"></label>
                <input asp-for="oppName" class="form-control" />
                <span asp-validation-for="oppName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oppCenter" class="control-label"></label>
                <select asp-for="oppCenter" class="form-control">
                    <option value="Center 1">Center 1</option>
                    <option value="Center 2">Center 2</option>
                    <option value="Center 3">Center 3</option>
                    <option value="Center 4">Center 4</option>
                </select>
                <span asp-validation-for="oppCenter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ManageOpportunities">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
