
@model PreSemester_Project.Models.Volunteer

@{
    ViewData["Title"] = "Landing Page";
}

<DOCTYPE! html>
<html lang="en">
    <head>
        
    </head>
    <body>
        <form asp-action="Landing" method="post">
            <label for="AddVolunteers">Add Volunteers</label>
            <input type="radio" value="AddVolunteers" />

            <label for="SearchVolunteers">Search Volunteers</label>
            <input type="radio" value="SearchVolunteers" />

            <button type="submit">Submit</button>
        </form>

        
    </body>
</html>
