


@{
    ViewData["Title"] = "Options";
}

<DOCTYPE! html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Pages.css" asp-append-version="true" />   
    <link rel="stylesheet" type="text/css" href="~/css/Options.css" asp-append-version="true" />

    @*<script type="text/javascript">
        var imageArr = ["~/Images/Carrying Food In.jpg", "~/Images/Food Pantry.jpg", "~/Images/Fresh Produce.jpg", "~/Images/Handing Out Food.jpg", "~/Images/Man Pushing Wheelbarrow.jpg", "~/Images/Woman Leading Class.jpg"], i = -1;
        var i;

        function displayNextImage() {
            i = (i === imageArr.length - 1) ? 0 : i + 1;
            document.getElementById("image").src = imageArr[i];
        }

        function displayPreviousImage() {
            i = (i <= 0) ? imageArr.length - 1 : i - 1;
            document.getElementById("image").src = imageArr[i];
        }

        function startTimer() {
            setInterval(displayNextImage, 2000);
        }


    </script>*@
</head>
<body>

    <div class="header">
        <img src="~/Images/BitworksLogo.png" id="header-img" />
        <h2>Volunteer Management System</h2>
    </div>

    @*<img id="image" src="~/Images/Food Pantry.jpg" style="width: auto;" />
    <p></p>*@

    <div id="content-box">
        <div id="content">
            <form asp-controller="Home" method="post">
                <p>What would you like to do today?</p>
                <input type="submit" value="Manage Volunteers" formaction="Volunteers">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Manage Opportunities" formaction="Opportunities">
            </form>
        </div>
    </div>

</body>
</html>
