


@{
    ViewData["Title"] = "Options";
}

<DOCTYPE! html>
<html lang="en">
    
    <body>
        <form asp-controller="Home" method="post">
            <p>What would you like to do today?</p>
            <input type="submit" value="Manage Volunteers" formaction="Volunteers">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="Manage Opportunities" formaction="Opportunities">
        </form>

        
    </body>
</html>
