
@model PreSemester_Project.Models.Volunteer

@{
    ViewData["Title"] = "Options";
}

<DOCTYPE! html>
<html lang="en">
    <head>
        
    </head>
    <body>
        <form asp-action="Options" method="post">
            <p>What would you like to do today?</p>
            <button type="submit" name="Volunteers">Manage Volunteers</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" name="Opportunities">Manage Opportunities</button>
        </form>

        
    </body>
</html>
