


@{
    ViewData["Title"] = "Options";
}

<DOCTYPE! html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Pages.css" asp-append-version="true" />   
    <link rel="stylesheet" type="text/css" href="~/css/Options.css" asp-append-version="true" />

</head>
<body>

    <div class="header">
        <img src="~/Images/BitworksLogo.png" id="header-img" />
        <h2>Volunteer Management System</h2>
    </div>

    <div id="content-box">
        <div id="content">
            <form asp-controller="Home" method="post">
                <p>What would you like to do today?</p>
                <input type="submit" value="Manage Volunteers" formaction="Volunteers">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Manage Opportunities" formaction="Opportunities">
            </form>
        </div>
    </div>

</body>
</html>
